{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	{# Entete title #}
	<div class="container-fluid entete text-primary d-flex justify-content-center h-33">

		<div class="container bg-secondary title">
			<h1 class="text-center">Contact</h1>
		</div>
	</div>


	{# Formulaire de contact  #}

	<div class="container-fluid contact">
		<form action="{{ path('app_contact') }}" method="post">

			<div class="mb-5">
				<label for="ControlInput1" class="form-label">Votre adresse mail</label>
				<input type="email" name="email" class="form-control" id="ControlInput1" placeholder="nom@example.fr" required>
			</div>
			<div class="mb-5">
				<label for="ControlTextarea1" class="form-label">Votre message</label>
				<textarea name="message" class="form-control" id="ControlTextarea1" rows="10" required></textarea>
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-secondary text-primary">Envoyer</button>
			</div>
		</form>
	</div>
{% endblock %}
