{% extends 'base.html.twig' %}

{% block title %}mentions légales
{% endblock %}

{% block body %}
	Mentions légales
	SARL Zoo Arcadia
	[Adresse du zoo]
	[Numéro de téléphone]
	[Adresse email]
	[Numéro de SIRET]

	<p>1. Éditeur
		Le présent site web est la propriété de la SARL Zoo Arcadia, société à responsabilité limitée dont le siège social est situé à [Adresse du zoo].</p>

	<p>2. Hébergeur
		Le présent site web est hébergé par [Nom de l'hébergeur], dont le siège social est situé à [Adresse de l'hébergeur].
	</p>

	<p>3. Propriété intellectuelle
		L'ensemble des éléments constitutifs du site web (textes, images, logos, etc.) sont la propriété exclusive de la SARL Zoo Arcadia et sont protégés par les lois de la propriété intellectuelle. Toute reproduction, représentation, modification, publication, adaptation totale ou partielle de l'un quelconque de ces éléments est strictement interdite sans l'autorisation écrite préalable de la SARL Zoo Arcadia.</p>

	<p>4. Données personnelles
		Le site web Zoo Arcadia ne collecte aucune donnée personnelle vous concernant.</p>

	<p>5. Cookies
		Le site web Zoo Arcadia utilise des cookies non-traceurs dans le but d'améliorer votre expérience de navigation. Vous pouvez désactiver les cookies depuis les paramètres de votre navigateur.</p>

	<p>6. Responsabilité
		La SARL Zoo Arcadia décline toute responsabilité quant aux éventuels dommages directs ou indirects causés par l'utilisation du site web, notamment les interruptions, les pannes, les pertes de données ou les virus qui pourraient infecter votre matériel informatique.</p>

	<p>7. Liens hypertextes
		Le site web Zoo Arcadia peut contenir des liens hypertextes vers d'autres sites web. La SARL Zoo Arcadia n'exerce aucun contrôle sur ces sites et décline toute responsabilité quant à leur contenu.</p>

	<p>8. Droit applicable
		Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux français seront seuls compétents</p>

{% endblock %}
