{% extends 'base.html.twig' %}

{% block title %}top10
{% endblock %}


{% block body %}

	<div class="container">
		<div class="row">
			{% include "espace_admin/_adminnav.html.twig" %}

			<main class="col-9 border border-secondary text-secondary p-2">
				<h1>Le top 10 des animaux</h1>

				<div class="text-center">
					<ul>
						{% for animal in topAnimaux %}
							<li>{{ animal.nom }}
								-
								{{ animal.views }}
								vues</li>
						{% endfor %}
					</ul>

				</div>

			</main>
		</div>
	</div>

{% endblock %}
