<footer>
	<div class="d-flex align-items-center ">
		<div class="col-lg-3 d-flex flex-column ">
			<h4 class="text-secondary">Informations pratiques</h4>
			<a class="nav-link" href="/infoPrat">Nos horaires</a>
			<a class="nav-link" href="/infoPrat">Venir nous voir</a>
			<a class="nav-link" href="">Nos clients donnent leurs avis</a>
		</div>
		<div class="col-lg-6 text-center">
			<img src="{{ asset('assets/images/Logo2.png')}}" alt="Logo" class="img-fluid w-50">


			<p>
				Forêt de Brocéliande - 01.02.03.04.05</p>
		</div>
		<div class="col-lg-3 d-flex flex-column">
			<h4 class="text-secondary">Informations légales</h4>
			<a class="nav-link" href="/mentions légales">Mentions légales</a>

			<a class="nav-link" href="">C.G.U</a>
			<a class="nav-link" href="">RGPD</a>
		</div>
	</div>
</footer>
