<aside class="col-3 border border-secondary text-secondary p-2">

	<div class="card mb-2">
		<div class="card-header">
			Gestion du Zoo
		</div>
		<div class="card-body text-blue">
			<p>
				<a href="/top/animaux">le Top 10 des animaux</a>
			</p>
			<p>
				<a href="{{path('app_compte_rendu_index')}}">consulter les rapports</a>

			</p>
		</div>
	</div>
	<div class="card mb-2">
		<div class="card-header">
			Utilisateurs
		</div>
		<div class="card-body text-blue">
			<p>
				<a href="/espace/admin/liste">Consulter les utilisateurs</a>
			</p>
			<p>
				<a href="/register">Ajouter un utilisateur</a>
			</p>
		</div>
	</div>

	<div class="card mb-2">
		<div class="card-header">
			Animaux
		</div>
		<div class="card-body text-blue">
			<p>
				<a href="/espace/admin/animaux">Consulter les animaux</a>
			</p>
			<p>
				<a href="/animaux/ajouter">Ajouter un animal</a>
			</p>
		</div>
	</div>
	<div class="card mb-2">
		<div class="card-header">
			Services et horaires
		</div>
		<div class="card-body text-blue">
			<p>
				<a href="/espace/admin/services">Consulter les services</a>
			</p>
			<p>
				<a href="/services/ajouter">Ajouter un service</a>
			</p>
			<p>
				<a href="/horaires">Consulter/modifier les horaires</a>
			</p>
		</div>
	</div>
	<div class="card mb-2">
		<div class="card-header">
			Habitats
		</div>
		<div class="card-body text-blue">
			<p>
				<a href="/habitats/liste">Consulter les habitats</a>
			</p>
			<p>
				<a href="/habitats/ajouter">Ajouter un habitat</a>
			</p>
		</div>
	</div>
	<div class="card mb-2">
		<div class="card-header">
			Nourriture
		</div>
		<div class="card-body text-blue">
			<p>
				<a href="/nourriture">Consulter les nourritures</a>
			</p>
			<p>
				<a href="/nourriture/ajouter">Ajouter une nourriture</a>
			</p>
		</div>
	</div>


</aside>
